@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i');
html, body {
	background: #f0f0f0;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	color: #333;
	height: 100%;
	min-height: 100%;
	/*overflow-x: hidden; */
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer !important;
}

.no-overflow {
	overflow-y: hidden !important
}

.global {
	width: 100%;
	min-height: 100%;
}

.global.main {
	height: 1px;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.sidebar-top h1,
.header h1 {
	font-size: 45px;
	margin-top: 5px;
	width: 100%;
	text-align: center;
}

.sidebar-top h1 span,
.header h1 span {
	color: #ef5350
}

.header h6 {
	font-size: 15px;
	text-align: center;
	margin-top: -10px;
	color: #666
}

.logo {
	display: block;
	background: url(./media/t/brievcase.png);
	background-size: 200px 162px;
	width: 200px;
	height: 162px;
	margin: auto;
	cursor: default !important;
}

.button-container {
	display: block;
	width: 100%;
	padding-top: 25px;
	text-align: center;
}

.button-container .version {
	font-size: 11px;
	text-align: center;
	margin-top: 10px;
	color: #999
}

.green { color: #66BB6A }
.red { color: #e53935 }
.yellow { color: #FFC107 }

.btn, .btn.inactive, .btn:hover, .btn:active, .btn:focus {
	border: 1px solid transparent !important;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;

	outline: none !important;

	line-height: 13px;
	padding: 10px 13px;
	height: auto !important;
	margin: 0 2px 4px;
	text-align: center !important;

	position: relative;
}

.btn.btn-round {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.btn > i {
	margin-right: 5px;
}

.btn[disabled=disabled],
.btn[disabled],
.btn[disabled=disabled]:hover,
.btn[disabled]:hover,
.btn[disabled=disabled]:active,
.btn[disabled]:active {
	cursor: not-allowed;
}

a.btn {
	text-decoration: none !important;
}

.btn:first-child {
	margin-left: 0;
}

.btn:last-child {
	margin-right: 0;
}

.btn.btn-xs,
.btn.btn-xs:hover,
.btn.btn-xs:active,
.btn.btn-xs:focus {
	font-size: 10px;
	padding: 2px 6px !important;
}

.btn.btn-sm,
.btn.btn-sm:hover,
.btn.btn-sm:active,
.btn.btn-sm:focus {
	font-size: 11px !important;
	padding: 8px 10px 7px !important;
	line-height: 9px;
}

.btn.btn-lg,
.btn.btn-lg:hover,
.btn.btn-lg:active,
.btn.btn-lg:focus  {
	font-size: 16px !important;
	padding:8px 16px !important;
	line-height: 23px;
	margin-bottom: 1px
}

.input-group .btn,
.form-inline .btn {
	font-size: 13px !important;
	font-weight: 500 !important;
	padding:8px 16px !important;
	line-height: 22px;
	margin-bottom: 1px
}

.btn.btn-prompt,
.btn.btn-prompt:hover,
.btn.btn-prompt:active,
.btn.btn-prompt:focus  {
	font-size: 16px !important;
	padding:12px 20px !important;
	padding-bottom: 11px !important;
	line-height: 23px;
	margin-bottom: 1px
}

.btn.btn-white-translucent {
	color: #666;
	background: rgba(255,255,255,.5)
}

.btn.btn-white-translucent:hover {
	background: rgba(255,255,255,1)
}

.btn.btn-white-translucent:active {
	background: rgba(0,0,0,.05)
}

.btn.inactive {
	opacity: .6;
	cursor: not-allowed !important;
}

.btn-default,
.btn-blue,
.btn-yellow,
.btn-purple,
.btn-green,
.btn-red,
.btn-dark {
	color: #fff !important
}

.btn-link-red,
.btn-link-red:hover,
.btn-link-red:focus {
	color: #E26A6A;
	background: none;
}

.btn-link.active,
.btn-link:active,
.btn-link-default.active,
.btn-link-default:active,
.btn-link-red.active,
.btn-link-red:active {
	background: rgba(0,0,0,.08);
}

.btn-link-default {
	color: inherit !important;
}

.btn-default,
.btn-default.inactive,
.btn-default:focus {
	background-color: #67809F;
	border-color: transparent !important;
}

.btn-default.inactive,
.btn-default.inactive:active {
	background-color: #67809F !important
}

.btn-default:hover {
	background-color: #738AA6
}

.btn-default.active,
.btn-default:active {
	background-color: #5E7693 !important;
	border-color: transparent;
}

.btn-white,
.btn-white.inactive,
.btn-white:focus {
	color: #666 !important;
	background-color: #fff;
	border-color: #e0e0e0 !important;
}

.btn-white.inactive,
.btn-white.inactive:active {
	background-color: #ddd !important
}

.btn-white:hover {
	background-color: #f5f5f5
}

.btn-white.active,
.btn-white:active {
	background-color: #ddd !important;
	border-color: transparent;
}

.btn-green,
.btn-green.inactive,
.btn-green:focus {
	background-color: #66BB6A
}
.btn-green.inactive {
	background-color: #66BB6A !important 
}
.btn-green:hover {
	background-color: #7CB780
}
.btn-green.active,
.btn-green:active {
	background-color: #4EAD54
}

.btn-blue,
.btn-blue.inactive,
.btn-blue:focus {
	background-color: #42A5F5
}
.btn-blue.inactive {
	background-color: #42A5F5 !important 
}
.btn-blue:hover {
	background-color: #2196F3
}
.btn-blue.active,
.btn-blue:active {
	background-color: #1E88E5
}

.sidebar-overlay {
	display: none;
	position: fixed;
	background: rgba(255,255,255,.9);
	/*background: rgba(38,50,56,.95);*/
	width: 100%;
	height: 100%;
	top: 0; right: 0; bottom: 0; left: 0;
}

.sidebar {
	background: #263238;
	width: 250px;
	height: 1px;
	min-height: 100%;
	max-height: 100%;
	color: #fff;
	position: fixed;
}

.sidebar .menu-content {
	overflow-y: auto;
	height: 100%;
}

.sidebar ul {
	max-height: 200px;
	display: block;
}

.sidebar ul,
.sidebar ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar ul li {
	width: 100%;
}

.sidebar ul li.version {
	color: #666;
	font-size: 11px;
	padding: 20px;
}

.sidebar ul li a {
	padding: 20px;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	color: inherit;
	text-decoration: none !important;
	font-size: 14px;
	position: relative;
}

.sidebar ul li a:hover {
	background: rgba(255,255,255,.02);
}

.sidebar ul li a:active {
	background: rgba(0,0,0,.05);
}

.sidebar ul li.active a {
	background: rgba(0,0,0,.13);
	cursor: default !important;
}
.sidebar ul li.active a:before {
	content: ' ';  
    width: 0;
    height: 0;
    display: block;
    border-top: 8px solid transparent; 
    border-bottom: 8px solid transparent; 
    border-left: 8px solid #ef5350; 
    position: relative;
    left: -20px;
}

.sidebar .sidebar-top {
	width: 100%;
	height: 70px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,.1);
}

.sidebar-top h1 {
	font-size: 30px;
}

.sidebar-top h1 a {
	color: inherit;
	text-decoration: none !important
}

.main-container {
	padding-left: 250px;
	width: 100%;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif !important;
}

.main-container .content {
	padding: 60px 140px 150px;
	font-size: 18px;
}

.main-container .content h1 {
	margin: 0 0 20px;
	font-family: 'Montserrat', sans-serif !important;
}

blockquote {
	background: #e5e5e5;
	border: none;
	padding: 30px;
	margin-bottom: 40px;
	font-style: italic;
	color: #666;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

code {
	background: #e0e0e0;
	color: #333;
	padding: 4px 6px;
	font-size: 13px;

	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
}

pre {
	padding: 0 !important;
	margin: 0 0 40px;
	border: none;
	overflow: auto;
}

pre, pre code {
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

pre > code {
	padding: 20px !important;
	overflow: auto;
}

table {
	width: 100%;
}

table tr td {
	padding: 8px 0;
	font-size: 16px;
	vertical-align: top;
}

table tr.bottom td {
	border-bottom: 2px solid #e0e0e0;
	padding-bottom: 20px;
}

p,
.main-container ul,
.main-container ol {
	margin-bottom: 40px;
	line-height: 32px;
}

.main-container h2 {
	padding-top: 40px !important;
}

h2, h3, h4, h5, h6 {
	padding-top: 10px !important;
	font-weight: 600 !important;
}

.menu-toggle span {
  display: block;
  background: #333;
  border-radius: 2px;
}

.menu-toggle-container * {
	transition: .25s ease-in-out;
	box-sizing: border-box;
}

.menu-toggle {
	width: 45px;
	height: 45px;
	position: absolute;
	cursor: pointer;
	border-radius: 5px;
	display: none;

	right: 11px;
	top: 11px;
}

.menu-toggle #hamburger {
	position: absolute;
	height: 100%;
	width: 100%;
}
.menu-toggle #hamburger span {
	width: 28px;
	height: 3px;
	position: relative;
	top: 7px;
	left: 8px;
	margin: 5px 0;
}
.menu-toggle #hamburger span:nth-child(1) {
	transition-delay: .5s;
}
.menu-toggle #hamburger span:nth-child(2) {
	transition-delay: .625s;
}
.menu-toggle #hamburger span:nth-child(3) {
	transition-delay: .75s;
}
.menu-toggle #cross {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: rotate(45deg);
}
.menu-toggle #cross span:nth-child(1) {
	height: 0%;
	width: 3px;
	position: absolute;
	top: 10%;
	left: 19px;
	transition-delay: 0s;
}
.menu-toggle #cross span:nth-child(2) {
	width: 0%;
	height: 3px;
	position: absolute;
	left: 10%;
	top: 19px;
	transition-delay: .25s;
}

.menu-toggle.open #hamburger span {
	width: 0%;
}
.menu-toggle.open #hamburger span:nth-child(1) {
	transition-delay: 0s;
}
.menu-toggle.open #hamburger span:nth-child(2) {
	transition-delay: .125s;
}
.menu-toggle.open #hamburger span:nth-child(3) {
	transition-delay: .25s;
}
.menu-toggle.open #cross span:nth-child(1) {
	height: 70%;
	transition-delay: .625s;
}
.menu-toggle.open #cross span:nth-child(2) {
	width: 70%;
	transition-delay: .375s;
}

.menu-toggle.open { position:fixed }

.blog-navigation {
	margin-top:100px;
}

.blog-navigation .row div:last-of-type {
	text-align: right
}

.blog-navigation a {
	color: inherit;
	font-weight: bold;
}

.footer {
	display: block;
	width: 100%;
	height: 40px;
	margin-top: -40px;
	padding-left: 250px;
	text-align: center;
	font-size: 11px;
	color: #666
}

.footer.main {
	padding-left:0
}

.footer a {
	color: inherit;
	text-decoration: underline;
}

.footer a:hover {
	text-decoration: none;
}

@media (max-width: 481px){
	body { font-size:14px }
	.header h1 {
		font-size: 35px !important;
		margin-top: 25px;
	}

	.header h6 {
		font-size: 13px;
		margin-top: -3px;
	}

	.main-container { padding:0 }
	.main-container h1 { font-size:31px }
	.main-container h2 { font-size:25px }
	.main-container h3 { font-size:20px }
	.main-container h4 { font-size:18px }
	.main-container h5 { font-size:15px }
	.main-container .content { padding:70px 25px 70px !important; font-size:14px !important }

	pre, code, pre code { font-size:12px !important }
	blockquote { font-size:16px; }
}

@media (max-width: 768px) {
	.menu-toggle { display:block; }
	.sidebar { width:0 }
	.sidebar > .menu-content, .sidebar > .sidebar-top { display:none }

	.main-container { padding:0 }
	.main-container .content { padding:70px 35px 70px }

	.footer { padding-left:0 }
}

@media (max-width:992px){

}

/* iPad Pro (vertical), iPad (horizontal) */
@media (max-width:1024px){
	.main-container .content { padding:70px 35px 70px }
}